@import "../../assets/styles/main";

.button {
  color: $color-primary;
  background-color: $color-tertiary;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  border-radius: 25px;
  transition: ease-in-out 0.25s;

  &:hover {
    background-color: rgba($color-tertiary, $alpha: 0.8);
  }
}
