@import "../../assets/styles/main";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
  min-height: fit-content;
  width: 100%;
  padding: 50px 0;
  background-size: cover;
  background-position: center top;
  background-image: url("/images/contact/magaya-texture-translucent.webp"),
    $background-gradient;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 985px;
    background-color: $color-primary;
    border-radius: 10px;
    padding: 50px 0;
  }

  &__heading {
    text-align: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
    max-width: 575px;
    padding: 10px 0 20px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 70%;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    label {
      font-size: 1.4rem;
      font-weight: 500;
    }

    input {
      height: 2.5em;
      padding: 0 15px;
      margin: 10px 0;
    }
  }
}
