@import "../../assets/styles/main";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
  width: 100%;
  background-size: cover;
  background-position: center top;
  background-image: url("/images/contact/magaya-texture-translucent.webp"),
    $background-gradient;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 85%;
    max-width: 1000px;
    background-color: $color-primary;
    border-radius: 10px;
    padding: 50px 50px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 85%;
    }
  }

  &__heading {
    text-align: center;

    .heading__title,
    .heading__subtitle {
      margin-bottom: 10px;
    }
  }

  &__fields {
    height: 100%;
    width: 65%;
    display: flex;
    padding: 10px 0 50px 0;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 75%;
    }

    label {
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 15px;
    }

    input {
      height: 2.5em;
      padding: 0 15px;
    }
  }
}
