@import "../../assets/styles/main";

.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  margin: auto;
  width: $responsive-width-desktop;

  @media screen and (max-width: $breakpoint-desktop) {
    width: $responsive-width-laptop;
  }

  h4 {
    text-align: center;
  }
}
