@import "../../assets/styles/main";

.home {
  @include page;

  &__hero {
    display: flex;
    padding: 75px 0;
    justify-content: space-between;
    min-height: fit-content;
    width: 60%;
    min-width: 985px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
      min-width: 675px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      // height: 65vh;
      width: 85%;
      min-width: 300px;
    }

    .hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45%;

      @media screen and (max-width: $breakpoint-desktop) {
        width: 42.5%;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: 425px;
        margin: auto;
      }
    }

    .hero__image {
      width: 55%;

      @media screen and (max-width: $breakpoint-tablet) {
        display: none;
      }
    }
  }

  &__line {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 5vh;
    min-height: fit-content;
    width: 60%;
    min-width: 985px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
      min-width: 675px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      width: 85%;
      min-width: 300px;
    }
  }

  &__banner {
    display: flex;
    padding-bottom: 75px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: fit-content;
    width: 60%;
    min-width: 985px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
      min-width: 675px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      width: 85%;
      min-width: 300px;
    }

    .banner__heading {
      font-size: 2.4rem;
      margin-bottom: 25px;
    }

    .banner__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      width: 100%;

      @media screen and (max-width: $breakpoint-tablet) {
        padding-bottom: 25px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 125px);
      }

      & > :first-child {
        cursor: pointer;
        height: 60px;
        width: 145px;
        justify-self: start;
        opacity: 0.75;

        @media screen and (max-width: $breakpoint-tablet) {
          justify-self: center;
        }
      }

      & > :nth-child(2) {
        cursor: pointer;
        height: 110px;
        width: 181.5px;
        justify-self: center;
        opacity: 0.75;
      }

      & > :last-child {
        cursor: pointer;
        height: 75px;
        width: 243px;
        justify-self: end;
        opacity: 0.75;

        @media screen and (max-width: $breakpoint-tablet) {
          justify-self: center;
        }
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: $color-primary;
    background: $background-gradient-circles;

    .stats__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      min-width: 985px;

      @media screen and (max-width: $breakpoint-desktop) {
        width: 80%;
        min-width: 675px;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        width: 85%;
        min-width: 300px;
      }
    }

    .stats__tiles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;

      @media screen and (max-width: $breakpoint-desktop) {
        gap: 30px;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        justify-content: center;
        padding-bottom: 25px;
        grid-template-columns: repeat(1, 0.85fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
      }
    }

    .stats__tile {
      text-align: center;
      padding-bottom: 50px;

      @media screen and (max-width: $breakpoint-tablet) {
        padding: 0 0 25px;
      }

      &__value {
        font-size: 4.2rem;
        font-weight: 700;
      }
    }

    .stats__cards {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: $breakpoint-tablet) {
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &__reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    min-height: fit-content;

    @media screen and (max-width: $breakpoint-tablet) {
      background-color: rgba(240, 240, 240, 1);
    }

    .reviews__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 60%;
      min-width: 985px;

      @media screen and (max-width: $breakpoint-desktop) {
        width: 80%;
        min-width: 675px;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        width: 85%;
        min-width: 300px;
      }
    }

    .reviews__line {
      border-top: 4px solid $color-tertiary;
      margin: 0 auto 75px;
      width: 10%;

      @media screen and (max-width: $breakpoint-tablet) {
        margin: 0 auto 45px;
        width: 25%;
      }
    }

    .reviews__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-style: italic;
      gap: 50px;

      @media screen and (max-width: $breakpoint-desktop) {
        gap: 30px;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
      }
    }
  }
}
