@import "../../assets/styles/main";

.home {
  @include page;

  &__hero {
    display: flex;
    justify-content: space-between;
    height: 55vh;
    width: 60%;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
    }

    .hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45%;

      @media screen and (max-width: $breakpoint-desktop) {
        width: 42.5%;
      }
    }

    .hero__image {
      width: 55%;

      @media screen and (max-width: $breakpoint-desktop) {
        width: 57.5%;
      }
    }
  }

  &__line {
    margin: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 60%;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
    }
  }

  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    height: 30vh;
    width: 60%;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
    }

    .banner__heading {
      font-size: 2.4rem;
      margin-bottom: 25px;
    }

    .banner__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      width: 100%;

      & > :first-child {
        cursor: pointer;
        height: 60px;
        width: 145px;
        justify-self: start;
        opacity: 0.75;
      }

      & > :nth-child(2) {
        cursor: pointer;
        height: 110px;
        width: 181.5px;
        justify-self: center;
        opacity: 0.75;
      }

      & > :last-child {
        cursor: pointer;
        height: 75px;
        width: 243px;
        justify-self: end;
        opacity: 0.75;
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $color-primary;
    background: $background-gradient-circles;

    .stats__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      width: 60%;

      @media screen and (max-width: $breakpoint-desktop) {
        width: 80%;
      }
    }

    .stats__tiles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 50px;

      @media screen and (max-width: $breakpoint-desktop) {
        column-gap: 30px;
      }
    }

    .stats__tile {
      text-align: center;

      &__value {
        font-size: 4.2rem;
        font-weight: 700;
      }
    }

    .stats__cards {
      display: flex;
      justify-content: space-around;
      padding: 50px 0;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 60%;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
    }

    .reviews__line {
      border-top: 4px solid $color-tertiary;
      margin: 0 auto 75px auto;
      width: 10%;
    }

    .reviews__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-style: italic;
      column-gap: 50px;

      @media screen and (max-width: $breakpoint-desktop) {
        column-gap: 30px;
      }
    }
  }
}
