@import "../../assets/styles/main";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 675px;
  width: 45%;
  margin: auto;
  padding: 35px;
  color: $color-secondary;
  background-color: $color-primary;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  @media screen and (max-width: $breakpoint-tablet) {
    width: 95%;
    align-self: center;
    margin-bottom: 50px;
  }

  &__title {
    text-align: center;
    margin: 10px 0 20px 0;
    color: $color-tertiary;
  }

  &__subtitle {
    font-size: 1.5rem;
    line-height: 1.8;
    margin: 0 0 15px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding: 0 20px;

    li {
      font-size: 1.5rem;
      line-height: 1.8;
    }
  }

  &__more {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
    color: $color-tertiary;
  }

  &--small {
    height: 100%;
    min-height: 550px;
    width: 100%;

    @media screen and (max-width: $breakpoint-tablet) {
      min-height: 475px;
    }

    .card__title {
      font-size: 1.8rem;
      line-height: 1.8;
      text-align: center;
      margin: 15px 0 20px 0;
      color: $color-tertiary;
    }
  }
}
