// Typography for all elements
* {
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 37px;
  padding: 23px;
}

h1 {
  font-size: 33px;
  line-height: 62px;
  margin-bottom: 37px;
}

h2 {
  font-size: 26px;
  line-height: 51px;
  margin-top: 60px;
  margin-bottom: 23px;
}

h3 {
  font-size: 20px;
  line-height: 43px;
  margin-top: 37px;
  margin-bottom: 14px;
}

h4 {
  font-size: 16px;
  line-height: 37px;
  font-weight: 500;
  margin-bottom: 9px;
}

p,
ul,
ol,
blockquote,
pre {
  margin-bottom: 37px;
}

ul,
ol {
  margin-left: 37px;
}

li {
  margin-bottom: 14px;
}

blockquote {
  padding-left: 23px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0 0 0 9px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

@media all and (min-width: 1994px) {
  * {
    padding: 37px;
  }
}
