// Typography for all elements
:root {
  font-size: 62.5%; /* 10px root */

  @media screen and (max-width: $breakpoint-desktop) {
    font-size: 57.5%;
  }

  @media screen and (max-width: $breakpoint-laptop) {
    font-size: 52.5%;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

h1 {
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 1.85;
  margin-bottom: 1.1em;
}

h2 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.95;
  margin-bottom: 0.9em;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.15;
  margin-bottom: 0.7em;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.3;
  margin-bottom: 0.55em;
}

p {
  font-size: 1.6rem;
  line-height: 2.3;
  margin-bottom: 2.3em;
}

li {
  font-size: 1.6rem;
  line-height: 2.3;
  margin-bottom: 0.7em;
}
