// Typography for all elements
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 33px;
  line-height: 62px;
  font-weight: 500;
  margin-bottom: 37px;
}

h2 {
  font-size: 26px;
  line-height: 51px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 23px;
}

h3 {
  font-size: 20px;
  line-height: 43px;
  font-weight: 500;
  margin-top: 37px;
  margin-bottom: 14px;
}

h4 {
  font-size: 16px;
  line-height: 37px;
  font-weight: 500;
  margin-bottom: 9px;
}

p {
  margin-bottom: 37px;
}
