// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

// Fonts
$font-primary: "Montserrat", sans-serif;

// Colors
$color-primary: rgba(250, 250, 250, 1);
$color-secondary: rgba(60, 60, 60, 1);
$color-tertiary: rgba(10, 115, 195, 1);
$background-gradient: radial-gradient(
    circle at 17% 77%,
    rgba(17, 17, 17, 0.04) 0%,
    rgba(17, 17, 17, 0.04) 50%,
    rgba(197, 197, 197, 0.04) 50%,
    rgba(197, 197, 197, 0.04) 100%
  ),
  radial-gradient(
    circle at 26% 17%,
    rgba(64, 64, 64, 0.04) 0%,
    rgba(64, 64, 64, 0.04) 50%,
    rgba(244, 244, 244, 0.04) 50%,
    rgba(244, 244, 244, 0.04) 100%
  ),
  radial-gradient(
    circle at 44% 60%,
    rgba(177, 177, 177, 0.04) 0%,
    rgba(177, 177, 177, 0.04) 50%,
    rgba(187, 187, 187, 0.04) 50%,
    rgba(187, 187, 187, 0.04) 100%
  ),
  linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));

// Breakpoints
$breakpoint-desktop: 1250px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;
