@import "../../assets/styles/main";

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 95px;
  width: 100%;
  padding: 25px 0;
  background-color: $color-primary;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
  }

  &__options {
    display: flex;
    align-items: center;
  }

  &__option {
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
    transition: ease-in-out 0.25s;

    &:hover {
      color: $color-tertiary;
    }
  }

  &__button {
    margin-left: 40px;
  }
}

@media screen and (max-width: $breakpoint-desktop) {
  .navbar {
    &__container {
      width: 850px;
    }
  }
}
