@import "../../assets/styles/main";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  min-height: 95px;
  width: 100%;
  background-color: $color-secondary;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 985px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 80%;
      min-width: 675px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
      text-align: center;
      min-width: 325px;
    }

    p {
      color: $color-primary;
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0;
    }
  }

  &__legal {
    display: flex;

    @media screen and (max-width: $breakpoint-tablet) {
      justify-content: center;
    }

    .legal__link {
      cursor: pointer;
    }

    .legal__link:last-child {
      margin-left: 25px;
    }
  }
}
