@import "../../assets/styles/main";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $color-secondary;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 1150px;

    p {
      color: $color-primary;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__legal {
    cursor: pointer;
    display: flex;

    .legal__link {
      margin-left: 25px;
    }
  }
}
