@import "../../assets/styles/main";

.solutions {
  @include page;

  &__hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1150px;
    padding: 65px 0 50px;

    .hero__content {
      margin-bottom: 15px;
    }
  }

  &__compare {
    display: flex;
    justify-content: center;

    .compare__table {
      width: 925px;
      padding: 0 0 100px;

      tr > th {
        padding: 25px;
        text-align: center;
        font-weight: 500;
      }

      tr > th:nth-child(3) {
        font-weight: 700;
        border-right: 1px solid rgba($color-secondary, $alpha: 0.35);
        border-left: 1px solid rgba($color-secondary, $alpha: 0.35);
      }

      tr > td {
        padding: 12.5px;
      }

      tr > td:nth-child(3) {
        border-right: 1px solid rgba($color-secondary, $alpha: 0.35);
        border-left: 1px solid rgba($color-secondary, $alpha: 0.35);
      }

      tr:nth-child(2n) {
        background-color: rgba(245, 245, 245, 1);
      }

      tr > td:nth-child(1) {
        font-size: 14px;
        font-weight: 500;
      }

      tr > td:nth-child(2),
      tr > td:nth-child(3) {
        color: $color-tertiary;
        text-align: center;
        font-size: 20px;
      }
    }
  }

  &__quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1150px;
    height: 975px;

    .quotes__line {
      width: 1150px;
      margin: 25px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $color-primary;
    background: $background-gradient-circles;

    .features__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      width: 1150px;
    }

    .features__heading {
      text-align: center;
      margin: 25px 0;
    }

    .features__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding: 50px 0;
      width: 100%;
    }
  }
}
